<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <link rel="stylesheet" href="./vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="./vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
	<style>
        .hidden-form {
            display: none;
        }
    </style>


</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <!-- <div id="preloader"> -->
        <!-- <div class="sk-three-bounce"> -->
            <!-- <div class="sk-child sk-bounce1"></div> -->
            <!-- <div class="sk-child sk-bounce2"></div> -->
            <!-- <div class="sk-child sk-bounce3"></div> -->
        <!-- </div> -->
    <!-- </div> -->
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="dashbord.html" class="brand-logo">
                <img class="logo-abbr" src="./images/tomato.png" alt="">
                <img class="logo-compact" src="./images/logo-text.png" alt="">
                <img class="brand-title" src="./images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="list-unstyled">
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-user"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-shopping-cart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="danger"><i class="ti-bookmark"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Robin</strong> marked a <strong>ticket</strong> as unsolved.
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-heart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>David</strong> purchased Light Dashboard 1.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-image"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong> James.</strong> has added a<strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                    </ul>
                                    <a class="all-notification" href="#">See all notifications <i
                                            class="ti-arrow-right"></i></a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="./email-inbox.html" class="dropdown-item">
                                        <i class="icon-envelope-open"></i>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                    <a href="./page-login.html" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./dailyNonNegotiables">Daily NonNegotiables</a></li>
                            <li><a href="./monthlyNonNegotiables">Monthly NonNegotiables</a></li>
                            <li><a href="./yearlyNonNegotiables">Yearly NonNegotiables</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Apps</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-app-store"></i><span class="nav-text">Apps</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./app-profile.html">Profile</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>
                                <ul aria-expanded="false">
                                    <li><a href="./email-compose.html">Compose</a></li>
                                    <li><a href="./email-inbox.html">Inbox</a></li>
                                    <li><a href="./email-read.html">Read</a></li>
                                </ul>
                            </li>
                            <li><a href="./app-calender.html">Calendar</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">Charts</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./chart-flot.html">Flot</a></li>
                            <li><a href="./chart-morris.html">Morris</a></li>
                            <li><a href="./chart-chartjs.html">Chartjs</a></li>
                            <li><a href="./chart-chartist.html">Chartist</a></li>
                            <li><a href="./chart-sparkline.html">Sparkline</a></li>
                            <li><a href="./chart-peity.html">Peity</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Components</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-world-2"></i><span class="nav-text">Bootstrap</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./ui-accordion.html">Accordion</a></li>
                            <li><a href="./ui-alert.html">Alert</a></li>
                            <li><a href="./ui-badge.html">Badge</a></li>
                            <li><a href="./ui-button.html">Button</a></li>
                            <li><a href="./ui-modal.html">Modal</a></li>
                            <li><a href="./ui-button-group.html">Button Group</a></li>
                            <li><a href="./ui-list-group.html">List Group</a></li>
                            <li><a href="./ui-media-object.html">Media Object</a></li>
                            <li><a href="./ui-card.html">Cards</a></li>
                            <li><a href="./ui-carousel.html">Carousel</a></li>
                            <li><a href="./ui-dropdown.html">Dropdown</a></li>
                            <li><a href="./ui-popover.html">Popover</a></li>
                            <li><a href="./ui-progressbar.html">Progressbar</a></li>
                            <li><a href="./ui-tab.html">Tab</a></li>
                            <li><a href="./ui-typography.html">Typography</a></li>
                            <li><a href="./ui-pagination.html">Pagination</a></li>
                            <li><a href="./ui-grid.html">Grid</a></li>

                        </ul>
                    </li>

                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-plug"></i><span class="nav-text">Plugins</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./uc-select2.html">Select 2</a></li>
                            <li><a href="./uc-nestable.html">Nestedable</a></li>
                            <li><a href="./uc-noui-slider.html">Noui Slider</a></li>
                            <li><a href="./uc-sweetalert.html">Sweet Alert</a></li>
                            <li><a href="./uc-toastr.html">Toastr</a></li>
                            <li><a href="./map-jqvmap.html">Jqv Map</a></li>
                        </ul>
                    </li>
                    <li><a href="widget-basic.html" aria-expanded="false"><i class="icon icon-globe-2"></i><span
                                class="nav-text">Widget</span></a></li>
                    <li class="nav-label">Forms</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-form"></i><span class="nav-text">Forms</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./form-element.html">Form Elements</a></li>
                            <li><a href="./form-wizard.html">Wizard</a></li>
                            <li><a href="./form-editor-summernote.html">Summernote</a></li>
                            <li><a href="form-pickers.html">Pickers</a></li>
                            <li><a href="form-validation-jquery.html">Jquery Validate</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Table</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-layout-25"></i><span class="nav-text">Table</span></a>
                        <ul aria-expanded="false">
                            <li><a href="table-bootstrap-basic.html">Bootstrap</a></li>
                            <li><a href="table-datatable-basic.html">Datatable</a></li>
                        </ul>
                    </li>

                    <li class="nav-label">Extra</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-copy-06"></i><span class="nav-text">Pages</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./page-register.html">Register</a></li>
                            <li><a href="./page-login.html">Login</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="./page-error-400.html">Error 400</a></li>
                                    <li><a href="./page-error-403.html">Error 403</a></li>
                                    <li><a href="./page-error-404.html">Error 404</a></li>
                                    <li><a href="./page-error-500.html">Error 500</a></li>
                                    <li><a href="./page-error-503.html">Error 503</a></li>
                                </ul>
                            </li>
                            <li><a href="./page-lock-screen.html">Lock Screen</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
<!--                <div class="col-xl-4 col-xxl-6 col-lg-6 col-md-6 col-sm-12">-->
<!--                    <div class="card">-->
<!--                        <div class="card-header">-->
<!--                            <h4 class="card-title">Daily Non-negotiables</h4>-->
<!--                        </div>-->
<!--                        <div class="card-body px-0">-->
<!--                            <div class="todo-list">-->
<!--                                <div class="tdl-holder">-->
<!--                                    <div class="tdl-content widget-todo mr-4">-->
<!--                                        <ul id="todo_list" >-->
<!--                                            <li th:each="task : ${tasks}"><label><input type="checkbox"><i></i><span th:text="${task.name}">Get up</span><a href='#'-->
<!--                                                                                                                                                            class="ti-trash"></a></label></li>-->
<!--                                            &lt;!&ndash;                                            <li><label><input type="checkbox" checked><i></i><span>Stand up</span><a-->
<!--                                                                                                href='#' class="ti-trash"></a></label></li>-->
<!--                                                                                        <li><label><input type="checkbox"><i></i><span>Don't give up the-->
<!--                                                                                                        fight.</span><a href='#' class="ti-trash"></a></label></li>-->
<!--                                                                                        <li><label><input type="checkbox" checked><i></i><span>Do something-->
<!--                                                                                                        else</span><a href='#' class="ti-trash"></a></label></li>-->
<!--                                                                                        <li><label><input type="checkbox" checked><i></i><span>Stand up</span><a-->
<!--                                                                                                href='#' class="ti-trash"></a></label></li>-->
<!--                                                                                        <li><label><input type="checkbox"><i></i><span>Don't give up the-->
<!--                                                                                                        fight.</span><a href='#' class="ti-trash"></a></label></li>&ndash;&gt;-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <div class="px-4">-->
<!--                                        <input type="text" class="tdl-new form-control" placeholder="Write new item and hit 'Enter'...">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
        <!--**********************************
            My current Tasks table
        ***********************************-->	
                <div class="row">
                    <div class="col-lg-8">				
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">My Current Tasks</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>UserId</th>
                                                <th>UserName</th>
                                                <th>Name</th>
                                                <th>Duration</th>
                                                <th>Category</th>
                                                <th>Priority</th>
                                                <th>Status</th>
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="task : ${tasks}">

<!--                                                <td class="tdl-content widget-todo mr-4">-->
<!--&lt;!&ndash;                                                    <div class="round-img">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a href=""><img width="35" src="./images/avatar/1.png" alt=""></a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--                                                    <label><input type="checkbox"><i></i><span></span></label>-->
<!--                                                </td>-->
                                                <td th:text="${task.id}"><span>1</span></td>
                                                <td th:text="${task.user.id}"><span>2</span></td>
                                                <td th:text="${task.user.username}"><span>testUser</span></td>
                                                <td th:text="${task.name}"><span>Dell-985</span></td>
                                                <td th:text="${task.duration}"><span>Dell-985</span></td>
                                                <td th:text="${task.category}"><span>456 pcs</span></td>
                                                <td th:text="${task.priority}"><span class="badge badge-success">High</span></td>
                                                <td th:text="${task.status}"><span class="badge badge-success">Done</span></td>
                                                <td>
													<button onclick="toggleForm()">Edit</button>
													<!-- Hidden form -->
													<form class="hidden-form" th:action="@{/submitMyCurrentTasks}" method="post">
														<label for="name">Name:</label>
														<input type="text" id="name" name="name">
														<br>
														<label for="duration">Duration:</label>
														<input type="duration" id="duration" name="duration">
														<br>
														<label for="category">Category:</label>
														<input type="category" id="category" name="category">
														<br>
														<label for="priority">Priority:</label>
														<input type="priority" id="priority" name="priority">
														<br>
														<label for="status">Status:</label>
														<select name="selectedValue">
															<option th:each="status : ${statusEnums}" th:value="${status}" th:text="${status}"></option>
														</select>
														<br>
														<input type="hidden" id="taskID" name="taskID" th:value="${task.id}">
														<input type="hidden" id="userID" name="userID" th:value="${task.user.id}">
														<input type="hidden" id="username" name="username" th:value="${task.user.username}">
														<button type="submitMyCurrentTasks">Submit</button>
													</form>

													<!-- JavaScript to control the visibility of the form -->
													<script th:inline="javascript">
														/* Function to toggle the visibility of the form */
														function toggleForm() {
															var form = document.querySelector('.hidden-form');
															if (form.style.display === 'none') {
																form.style.display = 'block';
															} else {
																form.style.display = 'none';
															}
														}
													</script>
												</td>
                                                <!-- <td> -->
												<!-- <select id="dropdown"> -->
												  <!-- <option th:value="${task.status}" th:text="${task.status}" disabled selected>Select an option</option> -->
												   <!-- <option th:each="task : ${tasks}" th:value="${task.status}" th:text="${task.status}"></option> -->
												<!-- </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
<!--**********************************
           Timeline
***********************************-->	
                <!-- <div class="row"> -->
                    <!-- <div class="col-lg-6 col-xl-4 col-xxl-6 col-md-6"> -->
                        <!-- <div class="card"> -->
                            <!-- <div class="card-header"> -->
                                <!-- <h4 class="card-title">Timeline</h4> -->
                            <!-- </div> -->
                            <!-- <div class="card-body"> -->
                                <!-- <div class="widget-timeline"> -->
                                    <!-- <ul class="timeline"> -->
                                        <!-- <li> -->
                                            <!-- <div class="timeline-badge primary"></div> -->
                                            <!-- <a class="timeline-panel text-muted" href="#"> -->
                                                <!-- <span>10 minutes ago</span> -->
                                                <!-- <h6 class="m-t-5">Youtube, a video-sharing website, goes live.</h6> -->
                                            <!-- </a> -->
                                        <!-- </li> -->

                                        <!-- <li> -->
                                            <!-- <div class="timeline-badge warning"> -->
                                            <!-- </div> -->
                                            <!-- <a class="timeline-panel text-muted" href="#"> -->
                                                <!-- <span>20 minutes ago</span> -->
                                                <!-- <h6 class="m-t-5">Mashable, a news website and blog, goes live.</h6> -->
                                            <!-- </a> -->
                                        <!-- </li> -->

                                        <!-- <li> -->
                                            <!-- <div class="timeline-badge danger"> -->
                                            <!-- </div> -->
                                            <!-- <a class="timeline-panel text-muted" href="#"> -->
                                                <!-- <span>30 minutes ago</span> -->
                                                <!-- <h6 class="m-t-5">Google acquires Youtube.</h6> -->
                                            <!-- </a> -->
                                        <!-- </li> -->

                                        <!-- <li> -->
                                            <!-- <div class="timeline-badge success"> -->
                                            <!-- </div> -->
                                            <!-- <a class="timeline-panel text-muted" href="#"> -->
                                                <!-- <span>15 minutes ago</span> -->
                                                <!-- <h6 class="m-t-5">StumbleUpon is acquired by eBay. </h6> -->
                                            <!-- </a> -->
                                        <!-- </li> -->

                                        <!-- <li> -->
                                            <!-- <div class="timeline-badge warning"> -->
                                            <!-- </div> -->
                                            <!-- <a class="timeline-panel text-muted" href="#"> -->
                                                <!-- <span>20 minutes ago</span> -->
                                                <!-- <h6 class="m-t-5">Mashable, a news website and blog, goes live.</h6> -->
                                            <!-- </a> -->
                                        <!-- </li> -->

                                        <!-- <li> -->
                                            <!-- <div class="timeline-badge dark"> -->
                                            <!-- </div> -->
                                            <!-- <a class="timeline-panel text-muted" href="#"> -->
                                                <!-- <span>20 minutes ago</span> -->
                                                <!-- <h6 class="m-t-5">Mashable, a news website and blog, goes live.</h6> -->
                                            <!-- </a> -->
                                        <!-- </li> -->

                                        <!-- <li> -->
                                            <!-- <div class="timeline-badge info"> -->
                                            <!-- </div> -->
                                            <!-- <a class="timeline-panel text-muted" href="#"> -->
                                                <!-- <span>30 minutes ago</span> -->
                                                <!-- <h6 class="m-t-5">Google acquires Youtube.</h6> -->
                                            <!-- </a> -->
                                        <!-- </li> -->
                                    <!-- </ul> -->
                                <!-- </div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->

                <!-- </div> -->
 <!--**********************************
            Drop down
        ***********************************-->	
                <!-- <div class="row"> -->
                    <!-- <div class="col-lg-8">				 -->
                        <!-- <div class="card"> -->
                            <!-- <div class="card-header"> -->
                                <!-- <h4 class="card-title">My Current Test</h4> -->
                            <!-- </div> -->
                            <!-- <div class="card-body"> -->
								<!-- <select id="dropdown"> -->
								  <!-- <option value="" disabled selected>Select an option</option> -->
								  <!-- <option value="option1">Option 1</option> -->
								  <!-- <option value="option2">Option 2</option> -->
								  <!-- <option value="option3">Option 3</option> -->
								  <!-- <option value="option4">Option 4</option> -->
								<!-- </select> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->

                <!-- </div> -->
            </div>
        </div>

    </div>
    
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Cris</a>2024</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="./vendor/global/global.min.js"></script>
    <script src="./js/quixnav-init.js"></script>
    <script src="./js/custom.min.js"></script>


    <!-- Vectormap -->
    <script src="./vendor/raphael/raphael.min.js"></script>
    <script src="./vendor/morris/morris.min.js"></script>


    <script src="./vendor/circle-progress/circle-progress.min.js"></script>
    <script src="./vendor/chart.js/Chart.bundle.min.js"></script>

    <script src="./vendor/gaugeJS/dist/gauge.min.js"></script>

    <!--  flot-chart js -->
    <script src="./vendor/flot/jquery.flot.js"></script>
    <script src="./vendor/flot/jquery.flot.resize.js"></script>

    <!-- Owl Carousel -->
    <script src="./vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <!-- Counter Up -->
    <script src="./vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="./vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="./vendor/jquery.counterup/jquery.counterup.min.js"></script>


    <script src="./js/dashboard/dashboard-1.js"></script>

</body>

</html>